html, body {
  height: 100%;
  width: 100%;
  background-color: #FAFAFA;
}

.overlay {
  /*opacity: .1 !important;*/
  background-color: rgba(0, 0, 0, 0.241176) !important;
  z-index: 1300 !important;
}
.leftSide .nav {
  position: fixed !important;
  width: 15% !important;
  /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 1px rgba(0, 0, 0, 0.23) !important;*/
  z-index: 1200 !important;
}
.leftSide .appBar {
  box-shadow: 0 0px 0px rgba(0, 0, 0, .12), 0 0px 1px rgba(0, 0, 0, 0.24) !important;
  padding-left: 15px !important;
}
.leftSide .appBar h1 {
  color: #727272 !important;
}
.rightSide {
  width:85%;
  position: fixed !important;
  right: 0;
}

main {
  padding: 10px;
}

.ast {
  font-family: Roboto, sans-serif;
}
.ast .node > .name {
  color: blue;
}
.ast .node > .value {
  color: grey;
  font-weight: bold;
}
.ast .operator {
  color: purple;
  font-weight: bold;
}

.page {
  margin: 15px 15px;
}

h2 {
  margin: 0px;
  font-weight: 400;
  line-height: 1.4;
}
