.velocity-icon-status {
  left: 10px !important;
  bottom: 10px !important;
  position: fixed !important;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #F2F2F2;
}

.overlay {
  /*opacity: .1 !important;*/
  background-color: rgba(0, 0, 0, 0.241176) !important;
  /*z-index: 1300 !important;*/
}
.appBar {
  background-color: #483D8B !important;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24) !important;
}
.container {
  display: flex;
  flex-direction: row;
}
.leftSide {
  width: 15% !important;
  min-width: 250px;
  margin: 10px;
  margin-top: 20px;
}
.leftSide .nav {
  background-color: #F2F2F2 !important;
  position: relative !important;
  box-shadow: none !important;
  /*z-index: 1200 !important;*/
}
.leftSide .nav .list {
  background-color: #F2F2F2 !important;
}
.leftSide .appBar {
  box-shadow: 0 0px 0px rgba(0, 0, 0, .12), 0 0px 1px rgba(0, 0, 0, 0.24) !important;
  padding-left: 15px !important;
}
.leftSide .appBar h1 {
  color: #727272 !important;
}
.main {
  width:80%;
}
.rightSide {
  width: 15% !important;
  min-width: 0;
  margin: 10px;
  margin-top: 20px;
}

main {
  padding: 10px;
}
.page h3 {
  color: rgba(0,0,0,.6);
  font-weight: 200;
}

.userMenu > div > span { /* userAvatar ripple */
  z-index: 1000;
}
.userMenu > div > img { /* userAvatar */
  position: absolute;
  top: 0;
  left: 0;
}


.ast {
  font-family: Roboto, sans-serif;
}
.ast .node.noMeasurement { /* when there is no measurement */
  border-bottom: 1px dashed red;
  padding: 2px;
  font-weight: 100;
}
.ast .node.constant {
  color: blue
}
.ast .controlFlow > .if, .ast .controlFlow > .else {
  font-weight: 500;
}
.ast .controlFlow > .thenClause, .ast .controlFlow > .elseClause { /* if/else clause styling */
  padding-left: 20px;
  display: block;
}
.ast .node > .name {
  color: blue;
}
.ast .node > .value {
  color: grey;
  font-weight: bold;
}
.ast .operator {
  color: purple;
  font-weight: bold;
}

.page {
  margin: 15px 15px;
}

h2 {
  margin: 0px;
  font-weight: 400;
  line-height: 1.4;
}

h4 {
  font-weight: 200 !important;
}
