main {
  padding: 10px;
}

.ast {
  font-family: Roboto, sans-serif;
}
.ast .node > .name {
  color: blue;
}
.ast .node > .value {
  color: grey;
  font-weight: bold;
}
.ast .operator {
  color: purple;
  font-weight: bold;
}

.page {
  margin: 10px 72px;
}

h2 {
  margin: 0px;
  font-weight: 400;
  line-height: 1.4;
}
