#chart {
  /*width: 960px;*/
  /*height: 500px;*/
  /*background: #ddd;*/
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: 400;
  font-size: 24px;
}

rect {
  fill: none;
  /*stroke: #fff;
  stroke-width: 1px;*/
}

.children:hover rect.child {
}
.children text {
  /*display: none;*/
}
.children:hover text {
  display: inline;
}

rect.parent {
  stroke: #fff;
  stroke-width: 10px;
}
.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

.children rect.parent {
  /*fill: #fff;
  fill-opacity: .4;*/
}

.children:hover rect.parent {
  fill: #fff;
  fill-opacity: .6;
}

.children:hover text {
  fill: #000;
}

.children text {
  font-size: 24px;
  font-weight: 400;
  fill: #fff;
}
rect.ok {
  fill: #67D96E;
}
rect.nok {
  fill: #F49292;
}
rect.unknown {
  fill: #A3A3A3;
}
